doc.tex
*.aux
*.log
*.out
*.pdf
*.toc
*.o
Makefile.depend
.tox/
assembly/assembly
blocksworld/3ops/2pddl/2pddl
blocksworld/4ops/2pddl/2pddl
blocksworld/bwstates.1/bwstates
blocksworld/matching/2pddl-typed
blocksworld/matching/2pddl-untyped
briefcaseworld/briefcaseworld
depots/depots
driverlog/dlgen
elevators/generate_data
elevators/generate_pddl
ferry/ferry
freecell/freecell
fridge/fridge
goldminer/gold-miner-generator
grid/grid
gripper/gripper
grippers/grippers
hanoi/hanoi
logistics/logistics
maintenance/maintenance
miconic/miconic
miconic-fulladl/miconic
miconic-simpleadl/miconic
minigrid/log.txt
minigrid/grid_4room2_fpl_s3_seed0_n0.pddl
movie/movie
mprime/mprime
mystery/mystery
nomystery/build/
nomystery/nomystery
nomystery/old/Makefile.depend
nomystery/old/nomystery
nomystery/release-search
nomystery/CMakeFiles
nomystery/CMakeCache.txt
nomystery/cmake_install.cmake
nomystery/Makefile
nomystery/nomystery_opt
npuzzle/n-puzzle-generator
openstacks/generate_pddl
openstacks/generate_problems
pathways/pathways
rovers/rovgen
satellite/satgen
schedule/schedule
storage/storage
sokoban/random/sokoban-generator-typed
sokoban/random/sokoban-generator-untyped
tidybot/tidybot.jar
tpp/tpp
trucks/trucks
trucks/adl2strips/ff
trucks/adl2strips/lex.fct_pddl.c
trucks/adl2strips/lex.ops_pddl.c
trucks/adl2strips/scan-fct_pddl.tab.c
trucks/adl2strips/scan-ops_pddl.tab.c
tsp/tsp
turnandopen/turnandopen
tyreworld/tyreworld
visitall/grid
zenotravel/ztravel
termes/boards/random_*
