include pddl_generators/**/*.pddl
include pddl_generators/*/README*
include pddl_generators/assembly/assembly
include pddl_generators/__blocksworld/3ops/2pddl/2pddl
include pddl_generators/__blocksworld/4ops/2pddl/2pddl
include pddl_generators/__blocksworld/bwstates.1/bwstates
include pddl_generators/__blocksworld/matching/2pddl-typed
include pddl_generators/__blocksworld/matching/2pddl-untyped
include pddl_generators/briefcaseworld/briefcaseworld
include pddl_generators/depots/depots
include pddl_generators/driverlog/dlgen
include pddl_generators/elevators/generate_data
include pddl_generators/elevators/generate_pddl
include pddl_generators/ferry/ferry
include pddl_generators/freecell/freecell
include pddl_generators/fridge/fridge
include pddl_generators/goldminer/gold-miner-generator
include pddl_generators/grid/grid
include pddl_generators/gripper/gripper
include pddl_generators/grippers/grippers
include pddl_generators/hanoi/hanoi
include pddl_generators/logistics/logistics
include pddl_generators/maintenance/maintenance
include pddl_generators/miconic/miconic
include pddl_generators/miconic-fulladl/miconic
include pddl_generators/miconic-simpleadl/miconic
include pddl_generators/movie/movie
include pddl_generators/mprime/mprime
include pddl_generators/mystery/mystery
include pddl_generators/nomystery/nomystery
include pddl_generators/npuzzle/n-puzzle-generator
include pddl_generators/openstacks/generate_pddl
include pddl_generators/openstacks/generate_problems
include pddl_generators/pathways/pathways
include pddl_generators/rovers/rovgen
include pddl_generators/satellite/satgen
include pddl_generators/schedule/schedule
include pddl_generators/storage/storage
include pddl_generators/sokoban/random/sokoban-generator-typed
include pddl_generators/sokoban/random/sokoban-generator-untyped
include pddl_generators/tidybot/tidybot.jar
include pddl_generators/tpp/tpp
include pddl_generators/trucks/trucks
include pddl_generators/trucks/adl2strips/ff
include pddl_generators/tsp/tsp
include pddl_generators/turnandopen/turnandopen
include pddl_generators/tyreworld/tyreworld
include pddl_generators/visitall/grid
include pddl_generators/zenotravel/ztravel
